<form method="post" action="/all-listings">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="description" placeholder="description" />
  <input type="text" name="price" placeholder="price" />
  <input type="text" name="daterange" placeholder="Range of dates available" />
  <input type="submit" value="Submit" />
</form>